.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 4vmin;
   
  }
  
  .MenuListItem .image {
    height: 8vw;
    width: 6vw;
    font-size: 4vw;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: var(--text-light);
  }
  
  .MenuListItem .name {
    margin: 2vmin;
    font-size: 1.6vw;
    text-align: center;
    color: var(--text-light);
  }
  .MenuListItem .author{
    margin: 2vmin;
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }

  .MenuListItem .year{
    margin: 2vmin;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }